<ng-container *ngIf="user" style="margin-top: 50px">
  <div
    [hidden]="login"
    class="container text-center mb-4"
    style="margin-top: 50px"
  >
    <br />
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="card">
        <div class="card-header text-white">Add a Client</div>
        <div class="card-body">
          <!-- first row -->

          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="width_" require>
                <mat-label>Application Type</mat-label>
                <mat-select
                  required
                  [(ngModel)]="applicationType"
                  formControlName="first"
                  (selectionChange)="selectedApplicationType()"
                >
                  <mat-option
                    *ngFor="let item of applicationTypeArray"
                    value="{{ item }}"
                    >{{ item }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="width_">
                <mat-label>Memo</mat-label>
                <textarea
                  matInput
                  placeholder="Optional"
                  [(ngModel)]="memo"
                  formControlName="memoInput"
                ></textarea>
              </mat-form-field>
            </div>
          </div>

          <!-- end of row -->

          <!-- second row -->

          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>File Status</mat-label>
                <mat-select
                  [(ngModel)]="fileStatus"
                  formControlName="secondSelect"
                  required
                >
                  <mat-option
                    *ngFor="let item of fileStatusArray"
                    value="{{ item }}"
                    >{{ item }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <div class="col-md-6">
              <mat-form-field class="width_">
                <mat-label>Embassy File No.</mat-label>
                <input
                  matInput
                  placeholder="Optional"
                  [(ngModel)]="embassyFileNo"
                  formControlName="inp"
                />
              </mat-form-field>
            </div> -->

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Office File No.</mat-label>

                <input
                  matInput
                  placeholder="Required"
                  [(ngModel)]="officeFileNo"
                  formControlName="inputOffice"
                />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Govt File No. </mat-label>
                <input
                  matInput
                  [(ngModel)]="EmbassyFileNo1"
                  formControlName="inputOffice1"
                />
              </mat-form-field>
            </div>
          </div>

          <!-- end of second row -->
        </div>
        <!-- end of card body -->
      </div>
      <!-- end of card -->
      <br />
      <!--  -->
      <div class="card">
        <div class="card-header">Client General Information</div>

        <div class="card-body">
          <div class="row">
            <!-- <div class="col-md-4">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Select Title</mat-label>
                <mat-select
                  required
                  [(ngModel)]="generalClientInfoTitle"
                  formControlName="titleGeneralClient"
                >
                  <mat-option
                    *ngFor="let item of selectTitle"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
 -->

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="firstName"
                  formControlName="name2"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Middle Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="middleName"
                  formControlName="name22"
                />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="lastName"
                  formControlName="name2s"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <!-- second row -->

          <div class="row">
            <!-- <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Case Process Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="caseProcessName"
                  formControlName="name2q"
                />
              </mat-form-field>
            </div> -->
          </div>

          <!-- third row -->

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Other Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="otherName"
                  formControlName="namse2sas"
                />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Gender</mat-label>
                <mat-select
                  [(ngModel)]="whichGender"
                  formControlName="gende"
                  required
                >
                  <mat-option
                    *ngFor="let item of genderArray"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input
                  matInput
                  [min]="minDate"
                  [max]="maxDate"
                  [matDatepicker]="picker"
                  [(ngModel)]="clientDOB"
                  formControlName="clientDOB1"
                  required
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <!-- fourth row -->
          <div class="row">
            <div class="col-md-3">
              <!-- <form class="example-form"> -->
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  [(ngModel)]="email"
                  formControlName="emailFormControl"
                  placeholder="Ex. pat@example.com"
                  required
                />
                <!-- <mat-error
                  *ngIf="
                    emailFormControl.hasError('email') &&
                    !emailFormControl.hasError('required')
                  "
                >
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is <strong>required</strong>
                </mat-error> -->
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field class="width_">
                <mat-label>Telephone</mat-label>

                <input
                  maxlength="10"
                  type="tel"
                  matInput
                  placeholder="555-555-1234"
                  [(ngModel)]="phoneNumberClient"
                  formControlName="phonenumberclientt"
                  (keypress)="checkPhone()"
                  required
                />
                <mat-icon matSuffix>edit</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Select Nationality</mat-label>
                <mat-select
                  [(ngModel)]="whichNational"
                  formControlName="clientstassa"
                  required
                >
                  <mat-option
                    *ngFor="let item of nationalArray"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Office</mat-label>
                <mat-select
                  [(ngModel)]="whichOffice"
                  formControlName="clientsta"
                >
                  <mat-option
                    *ngFor="let item of officeArray"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- end of fourth row -->
          <!--  -->
          <div class="row"></div>

          <!-- fourth row end -->
        </div>
      </div>
      <!-- end second card. -->

      <br />

      <div class="card">
        <div class="card-header">Permanent Address</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Address #1</mat-label>
                <textarea
                  matInput
                  [(ngModel)]="addressOne"
                  formControlName="addsre"
                  required
                ></textarea>
              </mat-form-field>
            </div>

            <!-- <div class="col-md-4">
            <mat-form-field class="width_">
              <mat-label>Address #2</mat-label>
              <textarea
                matInput
                [(ngModel)]="addressTwo"
                formControlName="memoInputdf"
              ></textarea>
            </mat-form-field>
          </div> -->

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>City</mat-label>
                <input
                  matInput
                  [(ngModel)]="city"
                  formControlName="cihtyl"
                  required
                />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Postal Code</mat-label>
                <input
                  matInput
                  [(ngModel)]="postalCode"
                  formControlName="memoInputdf"
                  maxlength="6"
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <!-- second row -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Country</mat-label>
                <mat-select
                  [(ngModel)]="whichCountry"
                  formControlName="cfflientstassa"
                  required
                >
                  <mat-option
                    *ngFor="let item of countryArray"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <!-- <mat-form-field appearance="outline" class="width_">
                <mat-label>State</mat-label>
                <mat-select
                  [(ngModel)]="whichState"
                  formControlName="cflientstassa"
                  required
                >
                  <mat-option *ngFor="let item of stateArray" value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->

              <mat-form-field class="width_">
                <mat-label>Enter State</mat-label>
                <input
                  matInput
                  [(ngModel)]="whichState"
                  formControlName="cflientstassa"
                  required
                />
              </mat-form-field>
            </div>
            <!-- end of coloumn -->
          </div>
        </div>
      </div>

      <!-- end 5th card -->

      <br />

      <!-- -->
      <!-- start mailing -->

      <div class="card">
        <div class="card-header">Mailing Address</div>
        <div class="card-body">
          <mat-checkbox (change)="isMailingAddressSame($event)">
            Mailing Address Same as permanent?
          </mat-checkbox>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Address #1</mat-label>
                <textarea
                  matInput
                  [(ngModel)]="addressOneMailing"
                  formControlName="addsrsdae"
                ></textarea>
              </mat-form-field>
            </div>

            <!-- <div class="col-md-4">
            <mat-form-field class="width_">
              <mat-label>Address #2</mat-label>
              <textarea
                [attr.disabled]="isMailingAddressSameBoolean"
                matInput
                [(ngModel)]="addressTwoMailing"
                formControlName="memofInputdf"
              ></textarea>
            </mat-form-field>
          </div> -->

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>City</mat-label>
                <input
                  matInput
                  [(ngModel)]="cityMailing"
                  formControlName="cightyl"
                />
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Postal Code</mat-label>
                <input
                  matInput
                  [(ngModel)]="postalCodeMailing"
                  formControlName="memoInpfutdf"
                  maxlength="6"
                />
              </mat-form-field>
            </div>
          </div>

          <!-- second row -->
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Country</mat-label>
                <mat-select
                  [(ngModel)]="countryMailing"
                  formControlName="cfflientgstassa"
                >
                  <mat-option
                    *ngFor="let item of countryArray"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <!-- <mat-form-field appearance="outline" class="width_">
                <mat-label>State</mat-label>
                <mat-select
                  [(ngModel)]="stateMailing"
                  formControlName="cfliefntstassa"
                >
                  <mat-option *ngFor="let item of stateArray" value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->

              <mat-form-field class="width_">
                <mat-label>City</mat-label>
                <input
                  matInput
                  [(ngModel)]="stateMailing"
                  formControlName="cfliefntstassa"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <!-- end mailing -->

      <!-- end contact -->

      <br />

      <!--  -->
      <div class="card">
        <div class="card-header">Other Info</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Occupation</mat-label>
                <mat-select
                  [(ngModel)]="occupation"
                  formControlName="fcfflientgstassa"
                  required
                >
                  <mat-option
                    *ngFor="let item of occupationArray"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Education</mat-label>
                <mat-select
                  [(ngModel)]="education"
                  required
                  formControlName="cfflientgstassfa"
                >
                  <mat-option
                    *ngFor="let item of educationArray"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Marital Status</mat-label>
                <mat-select
                  required
                  (selectionChange)="checkMaritalStatus($event)"
                  [(ngModel)]="maritalStatus"
                  formControlName="cfflientgdsfstassdfa"
                >
                  <mat-option
                    *ngFor="let item of maritalArray"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <!-- end  -->

      <!-- if married -->

      <br />
      <div class="card">
        <div class="card-header">Spouse Details</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Select Title</mat-label>
                <mat-select
                  [(ngModel)]="spouseTitle"
                  formControlName="dj"
                  required
                >
                  <mat-option
                    *ngFor="let item of selectTitle"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="spouseFirstName"
                  formControlName="nasdame2"
                />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Middle Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="spouseMiddleName"
                  formControlName="namdfse2"
                />
              </mat-form-field>
            </div>
          </div>

          <!-- second row -->
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="spouseLastName"
                  formControlName="namdfsesadf2"
                />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input
                  [(ngModel)]="spousedateOfBirth"
                  formControlName="spousedateofbirthd_"
                  matInput
                  [min]="minDate"
                  [max]="maxDate"
                  [matDatepicker]="spousePicker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="spousePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #spousePicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field appearance="outline" class="width_">
                <mat-label>Education</mat-label>
                <mat-select
                  [(ngModel)]="spouseEducation"
                  formControlName="cfflientgstassfa_"
                >
                  <mat-option
                    *ngFor="let item of educationArray"
                    value="{{ item }}"
                    >{{ item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <br />
      <div class="card">
        <div class="card-header">Sponsor Details</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="width_">
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="sponsorFirstName"
                  formControlName="nasdfsame2"
                />
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field class="width_">
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="sponsorLastName"
                  formControlName="nasddsame2"
                />
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field class="width_">
                <mat-label>Address</mat-label>
                <textarea
                  matInput
                  [(ngModel)]="sponsorAddress"
                  formControlName="adddasre"
                ></textarea>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field class="width_">
                <mat-label>Telephone</mat-label>
                <!-- <span matPrefix>+1 &nbsp;</span> -->
                <input
                  maxlength="10"
                  type="tel"
                  matInput
                  placeholder="555-555-1234"
                  [(ngModel)]="sponsorPhone"
                  (keypress)="checkPhone()"
                  formControlName="sdlfkjsa"
                />
                <mat-icon matSuffix>edit</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <br />
      <!-- <div class="card">
        <div class="card-header">Sponsor Spouse's Details</div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="sponsorSpouseFirstName"
                  formControlName="nasdfssdfame2"
                />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  [(ngModel)]="sponsorSpouseLastName"
                  formControlName="nasddsdfame2"
                />
              </mat-form-field>
            </div>

            <div class="col-md-4">
              <mat-form-field class="width_">
                <mat-label>Address</mat-label>
                <textarea
                  matInput
                  [(ngModel)]="sponsorSpouseAddress"
                  formControlName="adddfasadsre"
                ></textarea>
              </mat-form-field>
            </div>
          </div>


          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="width_">
                <mat-label>Telephone</mat-label>
                <span matPrefix>+1 &nbsp;</span>
                <input
                  type="tel"
                  maxlength="10"
                  matInput
                  placeholder="555-555-1234"
                  (keypress)="checkPhone()"
                  [(ngModel)]="sponsorSpousePhone"
                  formControlName="sdlfkjsasaf"
                />
                <mat-icon matSuffix>edit</mat-icon>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Date of Birth</mat-label>
                <input
                  matInput
                  [min]="minDate"
                  [max]="maxDate"
                  [matDatepicker]="sponsorSpouseDate"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="sponsorSpouseDate"
                ></mat-datepicker-toggle>
                <mat-datepicker #sponsorSpouseDate></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div> -->

      <br />
      <mat-progress-bar
        mode="indeterminate"
        *ngIf="showProgressbar"
      ></mat-progress-bar>
      <br />
      <div class="text-center">
        <button
          mat-raised-button
          color="primary"
          class="mt-4 mr-4"
          style="height: 50px; width: 100px"
        >
          Add
        </button>

        <button
          type="reset"
          (click)="onReset()"
          mat-raised-button
          color="warn"
          class="mt-4"
        >
          Reset
        </button>
      </div>
    </form>
  </div>
</ng-container>

<app-login [hidden]="!login"></app-login>
<!-- <app-landing-page></app-landing-page> -->
