<div class="background" style="margin-top: -10px">
  <div style="margin-top: 6%">
    <mat-card
      class="mx-auto text-center shadow"
      style="margin-top: 50px; width: 25em"
    >
      <div class="display-4 brand" style="font-size: 4em">Log In</div>
      <p class="text-muted mt-4 mb-5" style="font-size: 1.4em">Immigration</p>
      <hr class="mb-3" />

      <mat-form-field appearance="outline" class="width_">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          [(ngModel)]="userEmail"
          name="email"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="width_">
        <mat-label>password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="userPassword"
          name="pass"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <!-- <button
        class="btn btn-lg btn-google btn-block col-12"
        (click)="goolgeLogin()"
        type="button"
      >
        <i class="fa fa-google fa-fw mr-2"></i> Continue with Google
      </button> -->

      <button
        (click)="loginMethod()"
        mat-raised-button
        color="primary"
        class="mr-4"
        style="width: 100px; height: 50px"
      >
        Login
      </button>
      <button mat-raised-button color="warn" (click)="register()">
        Register
      </button>

      <p class="text-muted mt-3 text-justify">
        By Signing In you are agree to our Terms of Use and Privacy Policy
      </p>
    </mat-card>
  </div>
</div>

<div class="container"></div>
